* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

:root {
  --bg-color: #212529;
  --border-color: #666;
  --font-color: #f1f5f9;
  --primary-color: #4dff91;
  --error-color: #ff0043;
}

h1{
  font-size: 3rem;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "Ubuntu", sans-serif;
}

main {
  display: block;
  margin: 0 auto;
  max-width: 35rem;
  padding: 0 1.5rem 2.5rem;
  border-radius: 10px;
  position: relative;
}

header {
  padding: 2rem 0;
}

#themeSwitcher {
  background-color: var(--bg-color);
  border: .125rem solid var(--font-color);
  color: var(--font-color);
}

#themeSwitcher:hover {
  background-color: var(--font-color);
  color: var(--bg-color);
}

button {
  background-color: var(--primary-color);
  border: none;
  border-radius: .25rem;
  font-weight: 700;
  padding: .5rem 1rem;
  transition: .15s;
}

input {
  background-color: #0193c4;
  box-shadow: 7px 5px 1.5px #03688a, inset 7px 4px #1cafe0;
  border-radius: 10px;
  margin-bottom: 1em;
  color: white;
  display: block;
  border: 0;
  font-size: 2.35rem;  
  padding: 1rem;
  text-align: end;
  height: 5rem;
  width: 100%;
}

.fundo {
  background-color: #0193c4;
  box-shadow: 7px 5px 1.5px #03688a, inset 7px 4px #1cafe0;
}

#keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin: 10px 1px;
  padding: 1.1em;
  border-radius: 15px;
 }

#keys button {
  color: var(--bg-color);
  cursor: pointer;
  font-size: 2em;
  padding: 1rem;
  background-color:#3ab9e4;
  box-shadow: 2px 2px 0 1.5px #168bb3, inset 2.5px 2.5px #052e3b;
  color: white;
  border-radius: 10px;
  height: 2.1em;
}



#keys button:hover {
  filter: brightness(0.8);
}

#result {
  background-color: #0193c4;
  box-shadow: 7px 5px 1.5px #03688a, inset 7px 4px #1cafe0;
  border-radius: 10px;
  margin-bottom: 1em;
  color: white;
  display: block;
  border: 0;
  font-size: 2.35rem;  
  padding: 1rem;
  text-align: end;
  height: 5rem;
  width: 100%;
}

.return{
  display: flex;
  flex-direction: column;
  align-items: end;
}

#copyToClipboard {
  background-color: transparent;
  border: solid var(--border-color);
  border-width: 2px;
  border-radius: .5rem;
  color: var(--font-color);
  cursor: pointer;
  display: block;
  width: 120px;
 
}

.error {
  background-color: var(--error-color);
}

.success {
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
}